<!doctype html>
<html>
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>{% if page.title %}{{ page.title }}{% else %}Wiki{% endif %} // Element Town</title>

	<link rel="shortcut icon" href="https://element.town/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="shortcut icon" href="https://element.town/favicon.png" type="image/png"/>
	<link rel="shortcut icon" href="https://element.town/favicon.gif" type="image/gif"/>

			<link rel="stylesheet" href="https://element.town/static/style/default.css"/>
	
			<link rel="stylesheet" media="print"					href="https://element.town/static/style/default/print.css"/>
	
	
						<script src="//use.typekit.net/rhu8axb.js"></script>
								<script src="https://element.town/static/script/module/typekit/typekit.js"></script>
			
			<script src="//code.jquery.com/jquery-2.1.4.min.js" defer></script>
	
			<script src="https://element.town/static/style/default.js" defer></script>
	
	
	
						<script src="https://element.town/static/script/module/analytics/analytics.js" defer></script>
			</head>

<body>
	<header id="site-header" class="fancy-box">
		<h1><a id="site-title" href="https://element.town/">Element Town</a>
			</h1>

					<nav id="site-nav">
									<a class="site-nav" href="https://element.town/news">
						News</a>
									<a class="active site-nav" href="https://element.town/wiki">
						Wiki</a>
							</nav>
		
			</header>
	<a class="improve" href="https://github.com/elementtown/elementtown.github.io/edit/master/{{ page.path }}">Improve this page</a>
<article id="index-module" class="fancy-box">
	{% if page.title %}<header class="fancy-box"><h1>{{ page.title }}</h1></header>{% endif %}
	{% if page.stub %}<div class="fancy-box">This page is a stub. Please help us <a href="https://github.com/elementtown/elementtown.github.io/edit/master/{{ page.path }}">improve this page by editing it on GitHub</a>, thanks!</div>{% endif %}
	
	{{ content }}
	
	{% include disqus.html %}
</article>
	<footer id="footer-wrap">
					<div id="footer-copyright">
				Copyright &copy; 2008-2017 Element Town			</div>
	</footer>
				</body>
</html>

